﻿@model MyImdb.ViewModels.MovieCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Add Movie</h2>
<div>
    Please fill the movie data to add a new movie:
</div>
<br />
<div class="container">
    <form asp-action="Create">
        <div class="mb-3 row">
            <label asp-for="Title" class="col-sm-1 col-form-label"><b>Title</b></label>
            <div class="col-sm-8">
                <input asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="Rank" class="col-sm-1 col-form-label"><b>Rank</b></label>
            <div class="col-sm-2">
                <input asp-for="Rank" class="form-control">
                <span asp-validation-for="Rank" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="Year" class="col-sm-1 col-form-label"><b>Year</b></label>
            <div class="col-sm-2">
                <input asp-for="Year" class="form-control">
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="StoryLine" class="col-sm-1 col-form-label"><b>StoryLine</b></label>
            <div class="col-sm-8">
                <textarea asp-for="StoryLine" type="textarea" class="form-control" rows="4"></textarea>
                <span asp-validation-for="StoryLine" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-check" viewBox="0 0 16 16">
                        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                    </svg>
                    save
                </button>
            </div>
        </div>

    </form>
</div>

<div style="margin-top: 3rem;">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left"
         viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
    </svg>
    <a asp-action="Index">Back to Movies</a>
</div>