﻿@using MyImdb.ViewModels
@model List<MovieListViewModel>
@{
    ViewData["Title"] = "Index";
}

@*@if (ViewBag.Message is not null)
    {
    <div class="alert alert-info">
    <p>@ViewBag.Message</p>
    </div>
    }
*@

@if (ViewData["Message"] is not null)
{
    <div class="alert alert-info">
        <p>@ViewData["Message"]</p>
    </div>
}

<h1>Movies</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Rank</th>
            <th scope="col">Year</th>
        </tr>
    </thead>
    <tbody>
        @if (Model is not null)
        {
            foreach (var movie in Model)
            {
                <tr>
                    <td>@movie.Title</td>
                    <td>@movie.Rank</td>
                    <td>@movie.Year</td>
                </tr>
            }
        }
    </tbody>
</table>

<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Movie")'">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle"
         viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z">
        </path>
    </svg>
    Add movie
</button>

<div style="margin-top: 2rem;">
    Click <a asp-action="MovieOfTheMonth">here</a> to check out the movie of the month.
</div>