﻿@using MyImdb.ViewModels
@model MovieOfTheMonthListViewModel
@{

}

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                 role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#868e96"></rect>
                <image href="https://img.icons8.com/pastel-glyph/2x/movie-beginning.png" height="100%" width="100%" />
            </svg>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h4 class="card-title">@Model?.Title</h4>
                <h6>Rank: @Model?.Rank</h6>
                <h6>Director: @Model?.Director</h6>
                <p class="card-text">@Model?.StoryLine</p>
                <a href="#" class="btn btn-primary">Watch Trailer</a>
                <a href="#" class="btn btn-primary">Add to Watchlist</a>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 3rem;">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left"
         viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
    </svg>
    <a asp-controller="Movie" asp-action="Index">Back to Movies</a>
</div>