﻿@*@using MyImdb.ViewModels
    @model List<MovieListViewModel>*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@*
    <div class="row row-cols-1 row-cols-md-3 g-4">
    @if (Model is not null)
    {
    foreach (var movie in Model)
    {
    <div class="col">
    <div class="card">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg"
    role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
    <rect width="100%" height="100%" fill="#868e96"></rect>
    <image href="https://img.icons8.com/pastel-glyph/2x/movie-beginning.png" height="100%" width="100%" />
    </svg>
    <div class="card-footer">
    <small class="text-muted">@movie.Title</small>
    </div>
    </div>
    </div>
    }
    }
    </div>

    <div style="margin-top: 3rem;">
    <a asp-controller="Movie" asp-action="Index">See the complete list</a>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right"
    viewBox="0 0 16 16">
    <path fill-rule="evenodd"
    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
    </svg>
    </div>*@